body{
    background: #f900bc;
}
div{
   color : #F7E733;
}

.main {
    display:flex;
    flex-direction:column;
    width:100%;
    padding:25px;
    gap:16px
}
#sorties_cards{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(230px,1fr));
    gap:16px;
    grid-auto-rows:minmax(10px,auto);
    padding:25px
}

.sortie{
    border: black;
    border-radius: 10px;
    border: solid;
    padding: 8px;


}
.sortie:hover {
    cursor: pointer ;
}