.main {
    display:flex;
    flex-direction:column;
    width:100%;
    padding:25px;
    gap:16px
}
#sorties_cards{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(230px,1fr));
    gap:16px;
    grid-auto-rows:minmax(10px,auto);
    padding:25px
}

.sortie{
    border: black;
    border-radius: 10px;
    border: solid;
    padding: 8px;


}
.sortie:hover {
    cursor: pointer ;
}
.desc_etape {
    text-decoration:underline;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacement entre les éléments */
    max-width: fit-content;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: fit-content;
}
form input {
    max-width: fit-content;
}

.description_sortie {
    display: inline-block;
    padding: 10px;
    gap: 10px;
    border: solid;

}
table {
    border-collapse: collapse;
}
table * {
    border: 3px solid black;
    padding: 0.5rem;
}
table td *, table th *{
    border: none;
}
.tab_organisateur td , .tab_organisateur td * {
    color: red;
}
